name: iOS

on: [workflow_dispatch]

jobs:
  build:
    runs-on: macos-latest
    timeout-minutes: 50

    env:
      DEVELOPER_DIR: /Applications/Xcode_13.1.app

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Node
        uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Start Appium Server
        run: |
          node -v
          npm install -g appium@v1.22.3
          appium -v
          appium &>/dev/null &

      - name: Install Dependencies and Run Appium tests
        run: |
          mvn clean
          mvn install

      - name: Upload Test Artifact - GitHub Action
          if: always()
          uses: actions/upload-artifact@v2
          with:
            name: artifacts
            path: target/surefire-reports