name: iOS

on: [workflow_dispatch]

jobs:
  build:
    runs-on: macos-latest
    timeout-minutes: 50

    env:
      DEVELOPER_DIR: /Applications/Xcode_12.4.app

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Node
        uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Start Appium Server
        run: |
          node -v
          npm install -g appium@v1.21.0
          appium -v
          appium --address 127.0.0.1 --port 4723 &

      - name: Create iOS Simulator
        run: |
          xcrun simctl list
          xcodebuild -version
          xcrun simctl create 'iPhone 11' com.apple.CoreSimulator.SimDeviceType.iPhone-11 com.apple.CoreSimulator.SimRuntime.iOS-14-4 > deviceid.txt
          DEVICEUDID=`cat deviceid.txt`
          echo $DEVICEUDID
          open -a Simulator --args -CurrentDeviceUDID $DEVICEUDID

      - name: Install Dependencies and Run Appium tests
        run: |
          mvn clean
          mvn test -Dtest="iosTest"

      - name: Upload Test Artifact - GitHub Action
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: test-artifacts